.loading{
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 1000000;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}
.loading img{
  height: 50%;
}